@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
  font-family: 'Patrick Hand', cursive;
  color: #444;
  letter-spacing: 1.3px;
  font-size: large;
}

h1,
h2 {
  font-weight: bold;
}

#wrapper {
  max-width: 1000px;
  background-color: whitesmoke;
  margin: 20px auto;
  width: 90%;
  border-style: solid;
  border-radius: 10px;
  border-width: 1.5px;
  padding: 0 0 20px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  overflow: hidden;
}

#page-banner {
  background: moccasin;
  padding: 10px 0;
}
#page-banner h1,
#page-banner p {
  text-align: center;
  width: 100%;
  margin: 10px 0;
}
#page-banner input {
  display: block;
  width: 90%;
  max-width: 350px;
  margin: 20px auto;
  padding: 8px;
  border-radius: 6px;
  border: 2px solid skyblue;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
}

#todo-list,
#add-todos {
  margin: 30px;
}

#todo-list ul {
  list-style-type: none;
  padding: 0;
}

#todo-list li {
  padding: 20px;
  border-left: 5px solid #ddd;
  margin: 20px 10px;
}

#todo-list li:hover {
  border-color: firebrick;
}

.done,
.delete {
  display: block;
  float: right;
  margin: 10px;
  padding: 4px;
  background: powderblue;
  border-radius: 4px;
  cursor: pointer;
  color: blue;
}

.delete:hover {
  background: salmon;
}

.done:hover {
  background: goldenrod;
}

#add-todos {
  width: 450px;
  margin: 0 auto;
}

#add-todos input {
  display: block;
  margin: 20px 0;
  padding: 10px;
  border: 2px solid skyblue;
  font-size: 16px;
  border-radius: 4px 0 0 4px;
  box-sizing: border-box;
  width: 350px;
  float: left;
  clear: both;
}

#add-todos button {
  border: 2px solid skyblue;
  background: moccasin;
  padding: 10px 20px;
  font-size: 16px;
  display: inline-block;
  margin: 0;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  width: 100px;
  float: left;
  margin: 20px 0;
  border-left: 0;
  color: blue;
}

#add-todos button:hover {
  background: powderblue;
}

#add-todos:after {
  content: '';
  display: block;
  clear: both;
}

#add-todos label {
  line-height: 63px;
}

#add-todos #completed {
  border: 1px solid skyblue;
  width: 10px;
  padding: 1px 10px;
  border-radius: 6px;
  margin: 20px 20px;
  cursor: pointer;
}

#add-todos #completed:hover {
  background: firebrick;
}
